{
  "servers": [
    {
      "name": "mcp-server-filesystem",
      "type": "stdio",
      "command": "npx",
      "args": [
        "-y",
        "@modelcontextprotocol/server-filesystem",
        "/data/projects/edge-ai-gateway/"
      ]
    },
    {
      "name": "mcp-server-rogo",
      "type": "http",
      "url": "https://rogo-64770705.mcp-stag.dash.id.vn",
      "use_url_as_endpoint": true,
      "headers": {
    "authorization": "Bearer <access_token>"
    }
  ]
}
